<section>

    <h3>Upload Your Image</h3>

    <div class="form">

        <div class="profile_img">
            <img id="choose_img" src="/public/img/user-2493635_640.png" alt="" width="40">
            <img class="blur_img" id="user_img" src="/public/img/user.png" alt="profile user" width="150" height="150">
        </div>

        
        <input type="file" name="profile" class="filelem" id="fileElem">
        <div>
                <p>Sammy</p>
                <p>WebWalterWrite</p>
                <a href="https://github.com/WebWalterWrite/js-upload-image" target="_no_blank">Repository Github</a>
        </div>
       


{{!-- soumission formulaire --}}
        </div>
</section>
