<section>

    <h3>Upload Your Image</h3>

    <div class="form">

        <div class="profile_img">
            <img id="choose_img" src="/public/img/user-2493635_640.png" alt="" width="40">
            <img id="user_img" src="/public/img/user.png" alt="profile user" width="150" height="150">
        </div>

{{!-- progress bar --}}
        <div id="contain_progress">
        <progress id="file_progress" max="100" value="0">10</progress>
        <p id="percent_progress" class="progress_percent"></p>
        </div>
        
        <input type="file" name="profile" class="filelem" id="fileElem">

        <button type="button" class="openfile" id="openFile">Envoyer</button>
        <div id="err_file" class="file_err"></div>


{{!-- soumission formulaire --}}
        </div>
    {{{ msg }}}
</section>
