*{
    padding: 0;
    margin: 0;
    box-sizing: content-box;
}

body{
    /* credit photo : pixabay
       website      : https://pixabay.com/fr/
       url source   : https://pixabay.com/fr/photos/personnages-gros-plan-darth-vader-1853286
    */
    background-image: url('/public/img/background-img.jpg');
    background-size:cover;
    background-repeat:no-repeat;
}
a, p{
    font-family:  'Quattrocento Sans', sans-serif;
}
a{color:#FFFFFF;}
header{
    background-color: #272c3367;
    padding: 1em;
    border-bottom:solid 1px #FFFFFF;
}
header h1{
    color: #F7DE1D;
}
main{
    display:flex;
    justify-content: center;
}
section{
    margin: 0;
    padding: 1%;
    position: absolute;
    top: 50%;
    width: 30%;
    height: 40%; 
    transform: translateY(-50%);
    background-color:  rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 20px #F7DE1D;
}

section h3{
    text-align: center;
    color: #FFFFFF;
}

/* form */

.form{
    margin-top:1em;
    text-align: center;
}

.form div{
    margin: 0 auto;
    margin-bottom:1em;
}

.form p{
    color:#FFFFFF;
}
/* input file */
.filelem{
    display: none;
}


/* icon ajout photo */
.profile_img img:first-child{
    position: absolute;
    z-index:99;
    border-radius:50%;
    border: solid 2px #F7DE1D;
    cursor:pointer;
    opacity: .7;
    transition: opacity .3 ease-in-out;
}
.profile_img img:first-child:hover{
    opacity: 1;
}


/* photo de profile */
.profile_img img:nth-child(2){
    border-radius:50%;
}
.blur_img{
    filter: blur(10px);
    transition: all 500ms ease-in;
}
.no_blur_img{
    transition: all 1s ease-out;
}
/* bouton envoi fichier*/
.openfile{
    background-color: #000000;
    color: #F7DE1D;
    margin: 0 auto;
    padding:.5em;
    width: 40%;
    outline: none;
    text-align: center;
    cursor: pointer;
    transition: all .3s ease-in-out;
    letter-spacing: 3px;
}

.openfile:hover{
    border-radius: 13px;
    border-color: #F7DE1D;
    letter-spacing: 0;
}


/* message erreur fichier */
.upload_msg{
    text-align:center;
    margin:.5em 0 .5em 0 !important;
    color:#000000;
}



/* progress bar  */

.contain_progress{
    height:50px;
    opacity: 0;
}


progress[value] {
    width: 200px;
    height: 10px;
    margin: 0 auto;
    margin-bottom:5px;
    display: block;
    /* Important Thing */
    -webkit-appearance: none;
    appearance: none;
    border: none;
  }
progress[value]::-webkit-progress-bar {
    background-color:transparent;
    border-radius: 50px;
    box-shadow:transparent;
}
progress[value]::-webkit-progress-value {
    border-radius: 50px;
    box-shadow: inset 0 1px 1px 0 rgba(244, 244, 244, 0.493);
    background-image: -webkit-linear-gradient(#FFFFFF, #ffffff);
    /* with stripe pattern*/
    
}

/* pourcentage chiffre */
.progress_percent{
    color:#FFFFFF;
}

@keyframes hide{
    0%   { opacity: 1; transform: scale(1);}
    100% { opacity: 0; transform: scale(1,0);}
}

@keyframes visible {
    0%   { opacity: 0; transform: scale(1);}
    100% { opacity: 1; transform: scale(1,0);}
}


.hidden{
    animation: hide 1s ease-out;
    animation-fill-mode: forwards;
    animation-delay: 1s;
}

@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes fadeOut{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}

/* fenetre modal */
.modal{
    position: absolute;
    bottom:0;
    width: 100%;
    height: 100%;
    z-index:999;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0 auto;
    animation-name: fadeIn; 
    animation-duration:300ms;
    animation-direction:normal;
    background-color: #000000b2;
    text-align: center;
}

/* masquer la modal */
.hide_modal{
    animation-name: fadeOut;
    animation-duration: 500ms;
    animation-direction:normal;
    z-index: -999;
}
.content_modal{
    position: absolute;
    padding:1em;
    width: 30%;
    height: 40%; 
    display: inline-block;
    justify-content:space-around;
    background-color: #F7DE1D;

}

.content_modal img{
    margin-top:1em;
    border-radius:50%;
    border: solid 1px #ffffff;
}
.box_btn{
    display: flex;
    justify-content: center;
    margin-top:10px;
}


.box_btn p{
    cursor: pointer;
    padding:5px;
    margin:0px 20px 20px 20px;
    text-align: center;
    font-size:14px; 
    letter-spacing: 2px;
    width: 40%;
    background-color: #ffffff;
    transition: all 0.2s ease-in-out;
}
.box_btn p:first-child{
    color: #ff0000;
    border: solid 1px #ff0000;
}
.box_btn p:last-child{
    color:#008000;
    border: solid 1px #008000;
}

/* 
survol des boutons de la modal
effet box intérieur
*/
.content_modal p:hover{
    border-radius: 10px; 
}
.content_modal p:first-child:hover{
   box-shadow: 0px 0px 6px #ff0000 inset;
}
.content_modal p:last-child:hover{
    box-shadow: 0px 0px 6px#008000 inset;
 }